<table>
    <th>
        <td></td>
        <td>Title</td>
        <td>Opinion</td>
    <th>
    <% books.each do |book| %>
        <tr>
            <td><%= image_tag book.user.get_profile_image(100,100) %><td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
        </tr>
    <% end %>
</table>